<mat-card>
  <video mat-card-image autoplay muted loop id="myVideo">
    <source src="/assets/stockholm.mp4" type="video/mp4">
  </video>
  <mat-card-title color="primary">VERAROTH</mat-card-title>
  <form [formGroup]="loginForm">
    <mat-form-field appearance="outline">
      <mat-label>Enter your username</mat-label>
      <input formControlName="userName"  matInput placeholder="username">
    </mat-form-field>
    <mat-form-field  appearance="outline">
      <mat-label>Enter your password</mat-label>
      <input formControlName="password" matInput placeholder="password">
    </mat-form-field>
    <mat-card-actions><button mat-flat-button color="accent" (click)="login()">Login</button> </mat-card-actions>
  </form>
  <mat-card-footer><button mat-button color="basic">About Us</button> </mat-card-footer>
</mat-card>
